[submodule "components/esp-nimble-cpp"]
	path = components/esp-nimble-cpp
	url = git@github.com:h2zero/esp-nimble-cpp.git
[submodule "lock/components/esp-nimble-cpp"]
	path = lock/components/esp-nimble-cpp
	url = git@github.com:h2zero/esp-nimble-cpp.git
